* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif;
    background: #f6f6f6;
    color: #222;
    line-height: 1.6;
}

/* NAVBAR */
header {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);  
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #222;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}
/*about */
.about {
    padding: 70px 10%;
     background: #f5f0f0;
    text-align: center;
}

.about .section-title {
    margin-bottom: 25px;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8;
    color: #444;
}
/* HERO SECTION */
.hero {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
    align-items: center;
}

.hero .content h1 {
    font-size: 48px;
    font-weight: 600;
}

.hero .content h1 span {
    color: #007bff;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SKILLS */
.skills {
    padding: 60px 10%;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 20px;
}

.skill {
    background: #fff;
    padding: 13px;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* PROJECTS */
.projects {
    padding: 60px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* CONTACT */
.contact {
    padding: 70px 10%;
    background: linear-gradient(135deg, #f4f7ff, #ffffff);
    text-align:start;
}

.contact .section-title {
    margin-bottom: 35px;
    font-size: 28px;
}

.contact p {
    max-width: 520px;
    margin: 12px auto;
    padding: 14px 91px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.contact p b {
    color: #007bff;
    font-weight: 600;
    word-break: break-all;
}

#image{

    width: 300px;      /* Perfect size for portfolios */
    height: 300px;
    border-radius: 50%;  
    object-fit: cover;  
    border: 3px solid #fff; 

}
